@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 5px; */
  text-align: center;
}
body{
  background-color:  rgb(74, 73, 73);
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 20px;

}

.App{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.input{
  display: flex;
  min-width: 100px;
  margin: 20px;
}
.WeatherCard {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-radius: 60px;
  border-right: none;
  width: 100%px;
  padding: 20px;
  box-shadow: 10px 10px 10px black;
  margin: 10px;
}
.temps{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
.tempBorder{
  display: flex;
  justify-content: space-evenly;
}
.temp{
  display: flex;

}
.sectionSidebar{
  border: 1px solid black;
  border-radius: 20px;
  height: 700px;
  box-shadow: 5px 5px 5px red;
  margin: 10px;
}

.sectionMain{
  display: flex;
  flex-direction: column;
  min-width: 10px;
  width: 70%;
}

.defaultCard{
  display: flex;
  justify-content: center;
  width: 20%;
  border: 2px solid black;
  border-radius: 20px;
  margin: 10px;
  height: 150px;
  overflow: hidden;
  flex: 0 0 20%;
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
}
.Default{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wind{
  display: flex;

}

.sectionData{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px;
  height: 500px;
}

.sectionLongLat{
  display: flex;
  border:2px solid black;
}
